<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
  <div class="login-container">
    <h2>로그인</h2>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="아이디" required><br>
      <input type="password" name="password" placeholder="비밀번호" required><br>

      <!-- 로그인 실패 문구 표시 -->
      <span th:text="${errorMessage}"></span>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" readonly="readonly"/>
      <input type="submit" value="로그인">
      <a href="/custom/memberRegister" style="color: gray; text-decoration: none;">회원가입</a>
    </form>
  </div>

  <script src="/js/memberRegister.js"></script>
  </body>
</html>