<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="signup-container">
    <h2>회원가입</h2>
    <form action="/custom/signup" method="post">
        <input type="text" name="userid" placeholder="아이디" required><br>
        <input type="text" name="username" placeholder="유저이름" required><br>
        <input id="inpass" type="password" name="password" placeholder="비밀번호" required><!--<button type="button" onclick="togglepass()" >비밀번호 표시/숨기기</button>--><br>
        <input type="text" name="birth" placeholder="생년월일6자리" required maxlength="6" pattern=".{6,}"><br>

        <!-- 회원가입 실패 문구 표시 -->
<!--        <p th:if="${param.error}" class="error-message">회원가입 실패</p>-->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" readonly="readonly"/>
        <input type="submit" value="회원가입">
    </form>
</div>

<script src="/js/memberRegister.js"></script>
</body>
</html>